<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
<th:block th:include="fragments/general.html :: header"></th:block>

<div class="container">
    <div class="jumbotron">
        <h1>Admin page</h1>


        <form action="#" th:action="@{/admin/mail}" th:object="${connection}" method="POST">

            <div class="form-group">
                <label for="exampleInputEmail1" >Mailadress:</label>
                <input type="email" th:field="*{toAddress}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mailadress">
                <small th:if="${#fields.hasErrors('toAddress')}" th:errors="*{toAddress}">Fel format></small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Meddelande:</label>
                <input type="text" th:field="*{msg}" class="form-control" id="exampleInputPassword1" placeholder="Meddelande">
                <small th:if="${#fields.hasErrors('msg')}" th:errors="*{msg}">Price error!></small>
            </div>
            <a href="/admin" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Avbryt</a>
            <button type="submit" class="btn btn-primary">Skicka</button>
        </form>

        <div th:if="${failure}" class="alert alert-danger col-xs-offset-1 col-xs-10">
            Fel!
        </div>

        <div th:if="${success}"class="alert alert-success col-xs-offset-1 col-xs-10">
            Skickat.
        </div>


    </div>
</div>

<div th:insert="fragments/general.html :: footer"></div>

</body>
</html>