<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
<th:block th:include="fragments/general.html :: header"></th:block>
<div class="container">
    <div class="jumbotron">
        <h1>User page</h1>

        <p>Logged user: <span sec:authentication="name">Name</span></p>
        <p>Roles: <span sec:authentication="principal.authorities">Roll</span></p>

<div th:insert="fragments/general.html :: footer"></div>

</body>
</html>