body {
    padding-top: 70px;
}

#skoglycke {
    color: white;
}

.modal-content {
    color: black;
}
.modal-title {
    color: black;
}

.jumbotron {
    padding: 4rem 2rem 2rem 2rem;
}

h1 {
    color: #007bff;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../webfonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../webfonts/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../webfonts/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}