<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>

<header th:insert="fragments/general.html :: header"> </header>

	<div class="container">
		<div class="jumbotron">
			<h1><i class="fas fa-camera-retro"></i> Bild Galleri</h1>
			<p>Träning av responsiv webdesign</p>
		</div>
	
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/charl.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/charl.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/charl.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/eberhard.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/eberhard.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/eberhard.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/charl.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/charl.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/charl.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/eberhard.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/eberhard.jpg" class="img-thumbnail">
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="../../images/eberhard.jpg" class="img-thumbnail">
			</div>
		</div>
	</div>

<div th:insert="fragments/general.html :: footer"></div>

</body>
</html>